

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.name{
    font-weight: 800px;
    font-size: 28px;
    margin: 50px 0 30px 100px ;
    
}
.button1{
    font-weight: 600px;
    font-size: 20px;
    border-radius: 4px;
    background-color: white;
    margin: 50px 100px 30px 0  ;
    color: #0D1321;

}
.dark1{
     color: #0D1321; 
}
nav>ul>li{
    list-style: none;
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    /* height: 678px; */
    /* width: 1500px; */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    
  

}
.ban-div{
    text-align: center;
    margin: 50px 190px;
   
   
}
.img1{
    height: 220px;
    width: 220px;
    /* margin-top: 10px; */
}
.con-bnt{
    border-radius: 2px;
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 15px;
}
.ban-para{
    font-size: 16px;
}
.ban-tittle{
    font-size: 48px;
}
.main-sec{
    background-color:#FFFFFF;
    margin: 0 120px;
    padding: 20px 20px;
    text-align: center;
}
.main-sec>h1{
    font-weight: 800px;
    font-size: 32px;
}


.main-sec>p{
    font-size: 16px;
    
}
.main1{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(252, 252, 245);
    margin-top: 15px;

}
.main1-1{
    margin: 10px 330px 10px 10px;
    text-align: left;
}
.main1-1>.p1{
    font-weight: 600px;
    font-size: 24px;
}
.main1-1>.p2{
    font-size: 16px;
}
.main2{
    margin-top: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: rgb(252, 252, 245);
}
.main2-1{
    padding-right: 20px;
    
}
.main2-2>.p1{
    font-weight: 600px;
    font-size: 24px;

}
.main2-2>.p2{
    font-size: 16px;
}
.main2-2{
    text-align: left;
}
.btn-m{
    background-color: #FFFFFF;
    font-size: 12px;
}
.video>h1{
    font-weight: 800px;
    font-size: 32px;
    padding: 10px 20px;
}
.video{
    text-align: center;
    margin: 30px 130px;
}
.video>p{
    padding: 10px 180px;
    margin-bottom: 20px;
}
.link{
    width: 1000px;
    height: 500px;
}
.target-lan {
    display: flex;
}